<!DOCTYPE html>
<html>
<head>
	<title>Noddit</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
	<script src=""></script>
</head>
<body>
	<form class="form-group">
		<label for="post-text">Enter your post: </label>
		<textarea class="form-control" rows="4" id="post-text"></textarea>
		<button class="btn btn-primary">Post</button>
	</form>
</body>
</html>